{
  "openapi": "3.1.0",
  "info": {
    "title": "Trilly API",
    "description": "Trilly APIs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://backend.trilly.chat"
    }
  ],
  "paths": {
    "/api/client/{id_client}/snapshot": {
      "get": {
        "summary": "Snapshot del cliente",
        "description": "Restituisce una panoramica istantanea dell’account cliente: nome, login, telefono, tipologia di connessione, profilo, crediti, periodo di refill, data di scadenza e funzionalità attive.",
        "parameters": [
          {
            "name": "id_client",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID del cliente."
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Chiave API del partner."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_name": {
                      "type": "string",
                      "description": "Nome dell'account cliente."
                    },
                    "login": {
                      "type": "string",
                      "description": "Email di login del cliente."
                    },
                    "phone": {
                      "type": "string",
                      "description": "Numero di telefono del cliente."
                    },
                    "connection_type": {
                      "type": "string",
                      "description": "Tipologia di connessione (Socket|Send_app|Official)."
                    },
                    "profile": {
                      "type": "string",
                      "description": "Profilo account (Account gratuito|Fase di Test|Subscription Mensile|Subscription Annuale)."
                    },
                    "credits": {
                      "type": "string",
                      "description": "Crediti residui oppure 'Illimitati'."
                    },
                    "refill_period": {
                      "type": "string",
                      "description": "Periodo di refill (Nessuno|Mensile|Annuale)."
                    },
                    "expiration_date": {
                      "type": ["string", "null"],
                      "description": "Data di scadenza (YYYY-MM-DD) o null."
                    },
                    "active_features": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "Elenco delle funzionalità attive."
                    }
                  }
                },
                "example": {
                  "account_name": "prova ros",
                  "login": "provaros@mail.com",
                  "phone": "1",
                  "connection_type": "Socket",
                  "profile": "Fase di Test",
                  "credits": "Messaggi Residui: 10",
                  "refill_period": "Annuale",
                  "expiration_date": "2025-03-15",
                  "active_features": [
                    "Singolo messaggio",
                    "Gestione Sequenze",
                    "Invio Massivo",
                    "Volantino",
                    "Autorisponditore",
                    "Importa/Esporta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id_sessione}/code": {
      "get": {
        "summary": "QR Code",
        "description": "Questa chiamata, a partire dall’ID sessione di uno specifico utilizzatore di Trilly, visualizza il QR code che, inquadrato dal telefono all’interno di WhatsApp o WhatsApp Business (nell’area gestione dispositivi > aggiungi dispositivo), stabilisce la connessione tra Trilly e il telefono stesso.<Tip>Essendo il QR Code offerto da WhatsApp refreshato ogni 30 secondi circa, si suggerisce di ri-effettuare una nuova chiamata API ogni 20 secondi fintanto che non avviene l’aggancio.</Tip>",
        "parameters": [
          {
            "name": "id_sessione",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'id della sessione."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "QR Code in formato base64."
                },
                "example": "<QR Code in formato base64>"
              }
            }
          }
        }
      }
    },
    "/api/session/{id_sessione}/online": {
      "get": {
        "summary": "Impostazione stato online",
        "description": "Questa chiamata, a partire dall’ID sessione di uno specifico utilizzatore di Trilly, imposta lo stato online come 'assente' in modo da poter ricevere le notifiche sugli altri dispositivi.<Note>*N.B. lo stato verrà aggiornato solamente se il dispositivo risulta connesso. E’ altamente consigliato concatenare questa chiamata alla connessione con QR Code da parte dell’utente.*</Note>",
        "parameters": [
          {
            "name": "id_sessione",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'id della sessione."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "Lo stato dell'utente."
                    }
                  }
                },
                "example": {
                  "status": true
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id_session}/defaultSequence": {
      "get": {
        "summary": "Richiama Webhook Sequenza Standard a partire da ID Session e API Key",
        "description": "Questa chiamata, a partire da ID sessione e API Key cliente, restituisce l’endpoint (start) da utilizzare per effettuare gli invii dei messaggi strutturati (a livello di contenuto e di dinamche temporali) internamente ai vostri sistemi. In particolare il webhook conterrà l’ID Sequenza.",
        "parameters": [
          {
            "name": "id_sessione",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'id della sessione."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "string",
                      "description": "L'ID Sequenza di start.'"
                    },
                    "stop": {
                      "type": "string",
                      "description": "L'ID Sequenza di stop."
                    }
                  }
                },
                "example": {
                  "start": "HOOK_START",
                  "stop": "HOOK_STOP"
                }
              }
            }
          }
        }
      }
    },
    "/api/start/{id_sequenza}": {
      "post": {
        "summary": "Invio Messaggio Standard (interno a Sequenza Standard)",
        "description": "Questa chiamata consente di attivare all’interno di Trilly una sequenza di messaggi WhatsApp verso un unico numero di telefono destinatario. La sequenza può essere costituita da 1 solo messaggio oppure da più messaggi. All’interno della struttura verrà inserito il campo parametrico del numero di telefono verso cui punterà la sequenza, con eventuale corredo di una serie di ulteriori campi parametrici, che potranno essere stringhe di testo da includere all’interno del copy del messaggio; un url di un file multimediale disponibile online (caricato in FTP) che potrà essere utilizzato come allegato multimediale (dovrà presentare estensioni ammesse); oppure uno più riferimenti temporali (data/ora) che potranno regolare il timing di invio di uno o più messaggi inclusi nella sequenza. Ogni singolo messaggio interno alla sequenza potrà avere come criterio temporale la chiamata API (con eventuale delay), oppure un anticipo o un delay rispetto ad un riferimento temporale (data/ora) che dovrà essere trasmesso nei campi parametrici. Alla ricezione della chiamata, Trilly programmerà in unica soluzione l’invio dei messaggi previsti all’interno della sequenza. Verranno restituiti gli ID univoci di tutti i messaggi programmati.",
        "parameters": [
          {
            "name": "id_sequenza",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'id della sequenza."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Numero di telefono a cui si vuole scrivere."
                  },
                  "text": {
                    "type": "string",
                    "description": "Testo del messaggio."
                  },
                  "media": {
                    "type": "string",
                    "description": "Url del contenuto multimediale che si vuole allegare."
                  },
                  "media_name": {
                    "type": "string",
                    "description": "Nome che si vuole compaia sotto a miniatura di eventuale PDF."
                  }
                },
                "required": [
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "array",
                      "items": {
                        "type":"string"
                      },
                      "description": "ID dei messaggi generati."
                    },
                    "daily_api_cap": {
                      "type": "integer",
                      "description": "Numero massimo di chiamate API giornaliere effettuabili."
                    },
                    "daily_api_used": {
                      "type": "integer",
                      "description": "Numero di chiamate API giornaliere utilizzate."
                    },
                    "daily_api_remaining": {
                      "type": "integer",
                      "description": "Numero di chiamate API giornaliere rimanenti."
                    }
                  }
                },
                "example": {
                  "id": ["ID_MESSAGGIO_GENERATO"],
                  "daily_api_cap": 500,
                  "daily_api_used": 5,
                  "daily_api_remaining": 495
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/cancel/all": {
      "post": {
        "summary": "Annulla singoli messaggi",
        "description": "Questa chiamata consente di bloccare l’invio di specifici messaggi i cui ID pubblici devono venire trasmessi all’interno della richiesta.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista di id dei messaggi da eliminare."
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Messaggio del risultato."
                    },
                    "id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "ID dei messaggi annullati."
                    }
                  }
                },
                "example": {
                  "message": "XXX messaggi annullati",
                  "id": ["ID_MESSAGGI_ANNULLATI"]
                }
              }
            }
          }
        }
      }
    },
    "/api/message/{id_messaggio}/status": {
      "get": {
        "summary": "Verifica Stato messaggio",
        "description": "Questa chiamata consente, a partire dall’ID Messaggio, di sapere lo stato del messaggio.",
        "parameters": [
          {
            "name": "id_messaggio",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'id del messaggio."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "L'ID del messaggio."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "FAILED",
                        "COMPLETED",
                        "PENDING",
                        "CANCELLED",
                        "RESCHEDULED",
                        "BLACKLISTED"
                      ],
                      "description": "Lo stato del messaggio."
                    }
                  }
                },
                "example": {
                  "id": "ID_MESSAGGIO",
                  "status": "COMPLETED"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/reschedule/all": {
      "post": {
        "summary": "Re-invio messaggi",
        "description": "Questa chiamata consente il re-invio di una serie di messaggi a partire dal loro ID.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista di ID dei messaggi da reinviare."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Data pianificata per il reinvio."
                  }
                },
                "required": [
                  "id",
                  "date"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Lista degli ID dei  messaggi reinviati."
                    }
                  }
                },
                "example": {
                  "id": [
                    "ID_MESSAGGIO_GENERATO"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/client/{id_client}/sessions": {
      "get": {
        "summary": "Richiama ID Sessione a partire da ID Client",
        "description": "Questa chiamata consente di ottenere la lista degli ID sessione associati a uno specifico client.",
        "parameters": [
          {
            "name": "id_client",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'ID del client di cui recuperare le sessioni."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Lista di ID sessione associati al client."
                    }
                  }
                },
                "example": {
                  "id": [
                    "ID_SESSIONE"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id_sessione}/status": {
      "get": {
        "summary": "Stato connessione sessione",
        "description": "Questa chiamata, a partire dall’ID sessione di uno specifico utilizzatore di Trilly, restituisce lo stato della connessione tra Trilly e il dispositivo WhatsApp ad esso afferente.",
        "parameters": [
          {
            "name": "id_sessione",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'ID della sessione per la quale si vuole verificare lo stato di connessione."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "Stato della connessione tra Trilly e il dispositivo associato alla sessione."
                    }
                  }
                },
                "example": {
                  "status": true
                }
              }
            }
          }
        }
      }
    },
    "/api/blacklist/check": {
      "get": {
        "summary": "Blacklist - Verifica",
        "description": "Controlla se un numero è presente in blacklist.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Il numero di telefono da verificare."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Numero di telefono esistente in blacklist",
                        "Numero di telefono non trovato in blacklist"
                      ],
                      "description": "Esito della verifica."
                    }
                  }
                },
                "examples": {
                  "Numero presente": {
                    "value": {
                      "message": "Numero di telefono esistente in blacklist"
                    }
                  },
                  "Numero assente": {
                    "value": {
                      "message": "Numero di telefono non trovato in blacklist"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/blacklist/add": {
      "post": {
        "summary": "Blacklist - Aggiunta",
        "description": "Aggiunge un numero di telefono alla blacklist, così che eventuali futuri invii disposti su uno specifico numero di telefono vengano bloccati.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Numero di telefono da aggiungere alla blacklist."
                  },
                  "soft_block": {
                    "type": "boolean",
                    "description": "Se `true`, il numero viene aggiunto in blacklist sono per gli invii massivi, permettendo quindi gli invii da sequenze."
                  }
                },
                "required": [
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/blacklist/remove": {
      "delete": {
        "summary": "Blacklist - Rimozione",
        "description": "Rimuove un numero di telefono dalla blacklist.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Numero di telefono da rimuovere dalla blacklist."
                  }
                },
                "required": [
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Numero di telefono rimosso dalla blacklist",
                        "Numero di telefono non trovato in blacklist"
                      ],
                      "description": "Esito della rimozione."
                    }
                  }
                },
                "examples": {
                  "Numero rimosso": {
                    "value": {
                      "message": "Numero di telefono rimosso dalla blacklist"
                    }
                  },
                  "Numero non trovato": {
                    "value": {
                      "message": "Numero di telefono non trovato in blacklist"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/client/create": {
      "post": {
        "summary": "Generazione Nuovo Account Trilly da Partner",
        "description": "Questa chiamata consente ai partner di creare nuovi account cliente associati al proprio Account Partner. In seguito alla creazione, vengono generati e restituiti automaticamente API Key, ID Cliente e ID sessione; inoltre il cliente apparirà nella Dashboard Partner. <Note>Email e password, se non verranno forniti dal Partner ai singoli clienti per accesso individuale a Trilly (tipicamente in caso di White Label), potranno essere “di fantasia” (ma la email deve avere il formato con @).</Note> <Note>In caso di successo, verranno restituiti i dettagli del nuovo account cliente, inclusi l'ID cliente, l'ID sessione, e la nuova API Key.</Note>",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "API Key del Partner."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome dell'account cliente."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email associata all'account (deve rispettare il formato email)."
                  },
                  "password": {
                    "type": "string",
                    "description": "Password del cliente."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Numero di telefono associato al cliente."
                  },
                  "account_type": {
                    "type": "string",
                    "default": "full",
                    "enum": [
                      "test",
                      "baby",
                      "full"
                    ],
                    "description": "Tipologia dell'account.\n - `test` : 100 crediti e scadenza account dopo 14 giorni dalla creazione.\n - `baby` : 2000 crediti a refill annuale.\n - `full` : nessuna limitazione (account attuali)."
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password",
                  "phone"
                ]
              },
              "examples": {
                "Esempio": {
                  "value": {
                    "name": "Mario Rossi",
                    "email": "cliente@example.com",
                    "password": "passwordSicura!",
                    "phone": "3331122334",
                    "account_type": "full"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id_client": {
                      "type": "string",
                      "description": "ID del cliente."
                    },
                    "id_sessione": {
                      "type": "string",
                      "description": "ID della sessione."
                    },
                    "api_key": {
                      "type": "string",
                      "description": "API Key assegnata al nuovo account cliente."
                    },
                    "nome_account": {
                      "type": "string",
                      "description": "Nome dell'account cliente."
                    },
                    "telefono": {
                      "type": "string",
                      "description": "Numero di telefono associato."
                    },
                    "email_di_login": {
                      "type": "string",
                      "description": "Email usata per il login cliente."
                    },
                    "account_type": {
                      "type": "string",
                      "description": "Tipologia dell'account creato."
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "Data e ora chiamata (fuso orario UTC)."
                    }
                  }
                },
                "example": {
                  "id_client": "abc123def456",
                  "id_sessione": "sess789ghi012",
                  "api_key": "xyz-unique-apikey",
                  "nome_account": "Mario Rossi",
                  "telefono": "3331122334",
                  "email_di_login": "cliente@example.com",
                  "account_type": "full",
                  "timestamp": "2025-04-16T12:00:00Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/update": {
      "post": {
        "summary": "Aggiornamento Account Cliente",
        "description": "Questa chiamata consente ai partner di aggiornare la tipologia di account **e/o il nome** di un cliente associato al proprio Account Partner. L’API verifica che il cliente appartenga al partner tramite l’API Key. In caso di successo, la sessione del cliente verrà resettata solo se viene modificata la tipologia di account.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API Key del Partner che effettua la richiesta."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id_client": {
                    "type": "string",
                    "description": "ID del cliente da aggiornare."
                  },
                  "account_type": {
                    "type": "string",
                    "enum": [
                      "test",
                      "baby",
                      "full",
                      "disable"
                    ],
                    "description": "Tipologia di account.\n - `test` : 100 crediti e scadenza account dopo 14 giorni dalla creazione.\n - `baby` : 2000 crediti a refill annuale.\n - `full` : nessuna limitazione (account attuali).\n - `disable` : l’account viene disattivato."
                  },
                  "nome_cliente": {
                    "type": "string",
                    "description": "Nuovo nome del cliente. Se valorizzato, aggiorna anche il nome utente associato."
                  }
                },
                "required": [
                  "id_client"
                ]
              },
              "example": {
                "id_client": "12345",
                "account_type": "baby",
                "nome_cliente": "Nuovo Nome Cliente"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id_client": {
                      "type": "string",
                      "description": "ID del cliente."
                    },
                    "account_type": {
                      "type": "string",
                      "description": "Tipologia di account assegnata."
                    },
                    "nome_cliente": {
                      "type": "string",
                      "description": "Nome aggiornato del cliente (se modificato)."
                    },
                    "user_name": {
                      "type": "string",
                      "description": "Nome aggiornato dell’utente associato."
                    }
                  }
                },
                "example": {
                  "id_client": "12345",
                  "account_type": "baby",
                  "nome_cliente": "Nuovo Nome Cliente",
                  "user_name": "Nuovo Nome Utente"
                }
              }
            }
          },
          "400": {
            "description": "Errore di validazione o API Key non valida."
          },
          "500": {
            "description": "Errore interno durante l’aggiornamento del cliente."
          }
        }
      }
    },
    "/api/session/{id}/reset": {
      "post": {
        "summary": "Reset Sessione Cliente da Partner",
        "description": "Questa chiamata consente ai partner di resettare la sessione di un cliente associato al proprio Account Partner. L’API verifica che il cliente appartenga al partner tramite l’API Key. In caso di successo, la sessione del cliente verrà resettata.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'ID della sessione da resettare."
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API Key del partner che effettua la richiesta."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Esito dell'operazione."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "L'API Key fornita non è valida o non appartiene a un partner.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "API Key non corretta"
                }
              }
            }
          },
          "403": {
            "description": "Il cliente non appartiene al partner specificato.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Non autorizzato a gestire questa sessione"
                }
              }
            }
          },
          "404": {
            "description": "Client o sessione non trovati.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Client non trovato": {
                    "value": {
                      "error": "Client non trovato"
                    }
                  },
                  "Sessione non trovata": {
                    "value": {
                      "error": "Sessione non trovata"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/expiration": {
      "get": {
        "summary": "Recuperare la data di scadenza a partire da una lista di id clienti",
        "description": "Questa chiamata consente di ottenere la data di scadenza di uno o più clienti associati al proprio account Partner. Viene restituita una lista di clienti con `ID`, `Nome` e `Data di Scadenza`. Se alcuni ID non esistono o non appartengono al partner, verrà restituito un errore con i dettagli.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API Key del Partner."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Lista degli ID dei clienti di cui si vuole recuperare la data di scadenza."
                  }
                },
                "required": [
                  "client_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista dei clienti con relative date di scadenza.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID del cliente."
                      },
                      "nome": {
                        "type": "string",
                        "description": "Nome assegnato al cliente."
                      },
                      "expiration_date": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Data di scadenza in formato 'YYYY-MM-DD'. Se null, l'account non ha una data di scadenza."
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": 123,
                    "nome": "Ristorante",
                    "expiration_date": null
                  },
                  {
                    "id": 456,
                    "nome": "Hotel",
                    "expiration_date": "2025-03-23"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/stop/{id_sequenza}": {
      "post": {
        "summary": "Blocco sequenza con annullamento dei messaggi in sequenza",
        "description": "Questa chiamata consente di bloccare l’invio di eventuali messaggi programmati per il futuro tramite una sequenza attiva. All’interno della struttura dovrà trovare spazio il campo parametrico del numero di telefono che deve cessare di ricevere i messaggi dalla sequenza in questione. Alla ricezione della chiamata, Trilly annullerà l’eventuale programmazione di invii WhatsApp internamente alla sequenza che puntino al numero trasmesso a livello parametrico. Verranno restituiti gli ID univoci di tutti i messaggi annullati.",
        "parameters": [
          {
            "name": "id_sequenza",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'ID della sequenza di cui si vogliono annullare i messaggi."
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'API Key dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Numero di telefono per il quale bloccare i messaggi in sequenza."
                  }
                },
                "required": [
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messaggi della sequenza annullati con successo.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Messaggio di conferma con il numero di messaggi annullati."
                    },
                    "id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Lista degli ID dei messaggi annullati."
                    },
                    "daily_api_cap": {
                      "type": "integer",
                      "description": "Numero massimo di chiamate API giornaliere effettuabili."
                    },
                    "daily_api_used": {
                      "type": "integer",
                      "description": "Numero di chiamate API giornaliere utilizzate."
                    },
                    "daily_api_remaining": {
                      "type": "integer",
                      "description": "Numero di chiamate API giornaliere rimanenti."
                    }
                  }
                },
                "example": {
                  "message": "3 messaggi annullati",
                  "id": [
                    "msg_1",
                    "msg_2",
                    "msg_3"
                  ],
                  "daily_api_cap": 500,
                  "daily_api_used": 5,
                  "daily_api_remaining": 495
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/statusByPeriod": {
      "get": {
        "summary": "Recupero degli Esiti dei Messaggi per Periodo",
        "description": "Questo endpoint consente di ottenere, per un cliente identificato tramite la propria API key, l’elenco degli esiti di tutti i messaggi presi in carico (basandosi sul campo `completion_date`) all’interno di un intervallo temporale specificato. Per ogni messaggio, l’API restituisce il suo ID, lo stato e, in caso di fallimento, la ragione (contenuta nel campo `resp_message`). <Note>Assicurati che le date siano passate esattamente nel formato richiesto, con uno spazio tra la data e l'orario (eventualmente codificato come %20 nell'URL). I limite di risposta e di 1000 risultati</Note>",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "La chiave API del cliente autenticato."
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01/10/2025 14:11"
            },
            "description": "Data e ora di inizio del periodo. Il formato richiesto è 'dd/mm/YYYY HH:i' (es. '01/10/2025 14: 11')."
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01/10/2025 15:00"
            },
            "description": "Data e ora di fine del periodo. Il formato richiesto è 'dd/mm/YYYY HH:i' (es. '01/10/2025 15: 00')."
          }
        ],
        "responses": {
          "200": {
            "description": "Elenco degli esiti dei messaggi inviati nel periodo specificato.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message_id": {
                            "type": "integer",
                            "description": "ID del messaggio."
                          },
                          "status": {
                            "type": "string",
                            "description": "Esito del messaggio."
                          },
                          "reason": {
                            "type": ["string", "null"],
                            "description": "Motivo del fallimento."
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messages": [
                    {
                      "message_id": 25058,
                      "status": "FAILED",
                      "reason": "Sessione non connessa"
                    },
                    {
                      "message_id": 25059,
                      "status": "SENT",
                      "reason": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/cancel/pending": {
      "post": {
        "summary": "Annullamento dei messaggi in stato PENDING",
        "description": "Questo endpoint consente di annullare i messaggi in stato `PENDING` (non ancora inviati) associati al **cliente identificato tramite la propria API key**. Restituisce un elenco dei messaggi annullati, con l'ID e la data/ora in cui erano stati programmati per l'invio (`desired_date`). <Note>Se nessun messaggio è stato trovato in stato `PENDING`, il campo messages sarà una lista vuota.</Note> <Note>Il formato della `desired_date` è in **ISO_8601**.</Note> <Note>Se il campo `phones` **non viene incluso** nella richiesta, l'endpoint annullerà **tutti** i messaggi in stato `PENDING` per il cliente associato alla API key.</Note>",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "La API key del cliente.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phones": {
                    "type": "array",
                    "description": "I numeri di telefono di cui si vogliono annullare i messaggi in stato `PENDING`.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Messaggio del risultato."
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID del messaggio."
                          },
                          "desired_date": {
                            "type": "string",
                            "description": "Data programmata per l'invio del messaggio.",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Messaggi in stato PENDING annullati con successo.",
                  "messages": [
                    {
                      "id": 25103,
                      "desired_date": "2025-04-23T13:59:11.000000Z"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/details": {
      "get": {
        "summary": "Recupera dettagli dei messaggi",
        "description": "Restituisce i dettagli di uno o più messaggi, dato un elenco di ID dei messaggi ed una API Key valida.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API Key del partner."
          },
          {
            "name": "message_ids[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Elenco di ID dei messaggi da recuperare."
          }
        ],
        "responses": {
          "200": {
            "description": "Dettagli dei messaggi trovati.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tipologia": {
                            "type": "string",
                            "description": "Origine del messaggio.",
                            "enum": [
                              "SINGLE",
                              "SEQUENCE",
                              "MASSIVE",
                              "AUTOMATION"
                            ]
                          },
                          "nome_invio": {
                            "type": "string",
                            "description": "Nome dell'invio."
                          },
                          "ricezione": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data e ora di ricezione."
                          },
                          "invio_desiderato": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "Data e ora desiderata per l’invio."
                          },
                          "invio_previsto": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data e ora prevista per l’invio."
                          },
                          "invio_effettivo": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data e ora effettiva dell’invio."
                          },
                          "telefono": {
                            "type": "string",
                            "description": "Numero del destinatario."
                          },
                          "stato": {
                            "type": "string",
                            "description": "Stato del messaggio.",
                            "enum": [
                              "PENDING",
                              "COMPLETED",
                              "FAILED",
                              "CANCELLED",
                              "RESCHEDULED",
                              "BLACKLISTED"
                            ]
                          },
                          "cliente": {
                            "type": "string",
                            "description": "Nome del cliente associato."
                          },
                          "sequenza": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Nome della sequenza, se presente."
                          },
                          "template": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Nome del template, se presente."
                          },
                          "contenuto": {
                            "type": "string",
                            "description": "Testo del messaggio."
                          },
                          "media_url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "URL del contenuto multimediale, se presente."
                          },
                          "latitudine": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Latitudine, se posizione allegata."
                          },
                          "longitudine": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Longitudine, se posizione allegata."
                          },
                          "nome_media": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Nome del file multimediale allegato."
                          },
                          "richiesta": {
                            "type": "string",
                            "description": "Request payload originale (in JSON string)."
                          },
                          "risposta": {
                            "type": "string",
                            "description": "Messaggio di risposta del sistema."
                          },
                          "dettaglio_risposta": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Risposta dettagliata del sistema (se presente)."
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messages": [
                    {
                      "tipologia": "SEQUENCE",
                      "nome_invio": "",
                      "ricezione": "2025-07-18T10:06:13.000000Z",
                      "invio_desiderato": "2025-07-18T10:06:13.000000Z",
                      "invio_previsto": "2025-07-18T10:10:01.000000Z",
                      "invio_effettivo": "2025-07-18T10:10:02.000000Z",
                      "telefono": "391231233",
                      "stato": "COMPLETED",
                      "cliente": "ExampleName",
                      "sequenza": "Sequenza Esempio",
                      "template": "Messaggio Standard",
                      "contenuto": "Contenuto",
                      "media_url": null,
                      "latitudine": null,
                      "longitudine": null,
                      "nome_media": null,
                      "richiesta": "{\"phone\":\"391231233\",\"text\":\"Contenuto\",\"api_key\":\"abc123\"}",
                      "risposta": "Messaggio inviato",
                      "dettaglio_risposta": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/partner/session/{id}/pair": {
      "post": {
        "summary": "Connessione Account tramite fornitura Codice OTP",
        "description": "Questa chiamata, a partire dall’ID sessione di uno specifico utilizzatore di Trilly e da un numero di telefono, consentirà ad un partner di ricevere un codice OTP per un proprio cliente che potrà utilizzarlo per connettere il telefono al sistema alternativamente al QR Code.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "L'API key del partner.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "La sessione del cliente per cui si vuole creare il codice OTP.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Phone": {
                    "type": "string",
                    "description": "Numero di telefono che si vuole associare al cliente."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Risultato dell'operazione."
                    },
                    "pairCode": {
                      "type": "string",
                      "description": "Codice OTP."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "pairCode": "A1B2-C3D4"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Descrizione dell'errore."
                    }
                  }
                },
                "example": {
                  "error": "Non autorizzato"
                }
              }
            }
          },
          "500": {
            "description": "Errore",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Risultato dell'operazione."
                    },
                    "message": {
                      "type": "string",
                      "description": "Il messaggio di errore."
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Impossibile generare il codice di pairing dopo più tentativi"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/apiDailyUsage": {
      "get": {
        "summary": "Recupero dati utilizzo API",
        "description": "Questa chiamata consente di ottenere il riepilogo dell’utilizzo giornaliero delle API di un determinato cliente. L'endpoint richiede il parametro `searched_user_api_key`, che identifica il cliente di cui si desidera consultare il consumo API giornaliero. Un utente Partner può utilizzare questo endpoint per monitorare l’utilizzo delle API dei propri clienti associati, mentre un cliente standard può verificare il proprio utilizzo inserendo la propria API key.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "L'API key del cliente o del partner.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searched_user_api_key",
            "in": "query",
            "required": true,
            "description": "L'API key del cliente di cui si vuole conoscere l'utilizzo giornaliero delle API.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "daily_api_cap": {
                      "type": "integer",
                      "description": "Numero massimo di chiamate API giornaliere effettuabili."
                    },
                    "daily_api_used": {
                      "type": "integer",
                      "description": "Numero di chiamate API giornaliere utilizzate."
                    },
                    "daily_api_remaining": {
                      "type": "integer",
                      "description": "Numero di chiamate API giornaliere rimanenti."
                    }
                  }
                },
                "example": {
                  "daily_api_cap": 500,
                  "daily_api_used": 5,
                  "daily_api_remaining": 495
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Descrizione dell'errore."
                    }
                  }
                },
                "example": {
                  "error": "Non autorizzato"
                }
              }
            }
          }
        }
      }
    }
  }
}