{
  "openapi": "3.1.0",
  "info": {
    "title": "Trilly API",
    "description": "Trilly APIs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://backend.trilly.chat"
    }
  ],
  "paths": {
    "/api/session/{id_sessione}/code": {
      "get": {
        "summary": "QR Code",
        "description": "Questa chiamata, a partire dall’ID sessione di uno specifico utilizzatore di Trilly, visualizza il QR code che, inquadrato dal telefono all’interno di WhatsApp o WhatsApp Business (nell’area gestione dispositivi > aggiungi dispositivo), stabilisce la connessione tra Trilly e il telefono stesso.<Tip>Essendo il QR Code offerto da WhatsApp refreshato ogni 30 secondi circa, si suggerisce di ri-effettuare una nuova chiamata API ogni 20 secondi fintanto che non avviene l’aggancio.</Tip>",
        "parameters": [
          {
            "name": "id_sessione",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'id della sessione."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "QR Code in formato base64."
                },
                "example": "<QR Code in formato base64>"
              }
            }
          }
        }
      }
    },
    "/api/session/{id_sessione}/online": {
      "get": {
        "summary": "Impostazione stato online",
        "description": "Questa chiamata, a partire dall’ID sessione di uno specifico utilizzatore di Trilly, imposta lo stato online come 'assente' in modo da poter ricevere le notifiche sugli altri dispositivi.<Note>*N.B. lo stato verrà aggiornato solamente se il dispositivo risulta connesso. E’ altamente consigliato concatenare questa chiamata alla connessione con QR Code da parte dell’utente.*</Note>",
        "parameters": [
          {
            "name": "id_sessione",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'id della sessione."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "Lo stato dell'utente."
                    }
                  }
                },
                "example": {
                  "status": true
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id_session}/defaultSequence": {
      "get": {
        "summary": "Richiama Webhook Sequenza Standard a partire da ID Session e API Key",
        "description": "Questa chiamata, a partire da ID sessione e API Key cliente, restituisce l’endpoint (start) da utilizzare per effettuare gli invii dei messaggi strutturati (a livello di contenuto e di dinamche temporali) internamente ai vostri sistemi. In particolare il webhook conterrà l’ID Sequenza.",
        "parameters": [
          {
            "name": "id_sessione",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'id della sessione."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "string",
                      "description": "L'ID Sequenza di start.'"
                    },
                    "stop": {
                      "type": "string",
                      "description": "L'ID Sequenza di stop."
                    }
                  }
                },
                "example": {
                  "start": "HOOK_START",
                  "stop": "HOOK_STOP"
                }
              }
            }
          }
        }
      }
    },
    "/api/start/{id_sequenza}": {
      "post": {
        "summary": "Invio Messaggio Standard (interno a Sequenza Standard)",
        "description": "Questa chiamata consente di attivare all’interno di Trilly una sequenza di messaggi WhatsApp verso un unico numero di telefono destinatario. La sequenza può essere costituita da 1 solo messaggio oppure da più messaggi. All’interno della struttura verrà inserito il campo parametrico del numero di telefono verso cui punterà la sequenza, con eventuale corredo di una serie di ulteriori campi parametrici, che potranno essere stringhe di testo da includere all’interno del copy del messaggio; un url di un file multimediale disponibile online (caricato in FTP) che potrà essere utilizzato come allegato multimediale (dovrà presentare estensioni ammesse); oppure uno più riferimenti temporali (data/ora) che potranno regolare il timing di invio di uno o più messaggi inclusi nella sequenza. Ogni singolo messaggio interno alla sequenza potrà avere come criterio temporale la chiamata API (con eventuale delay), oppure un anticipo o un delay rispetto ad un riferimento temporale (data/ora) che dovrà essere trasmesso nei campi parametrici. Alla ricezione della chiamata, Trilly programmerà in unica soluzione l’invio dei messaggi previsti all’interno della sequenza. Verranno restituiti gli ID univoci di tutti i messaggi programmati.",
        "parameters": [
          {
            "name": "id_sequenza",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'id della sequenza."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Numero di telefono a cui si vuole scrivere."
                  },
                  "text": {
                    "type": "string",
                    "description": "Testo del messaggio."
                  },
                  "media": {
                    "type": "string",
                    "description": "Url del contenuto multimediale che si vuole allegare."
                  },
                  "media_name": {
                    "type": "string",
                    "description": "Nome che si vuole compaia sotto a miniatura di eventuale PDF."
                  }
                },
                "required": [
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "array",
                      "items": {
                        "type":"string"
                      },
                      "description": "ID dei messaggi generati."
                    }
                  }
                },
                "example": {
                  "id": ["ID_MESSAGGIO_GENERATO"]
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/cancel/all": {
      "post": {
        "summary": "Annulla singoli messaggi",
        "description": "Questa chiamata consente di bloccare l’invio di specifici messaggi i cui ID pubblici devono venire trasmessi all’interno della richiesta.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista di id dei messaggi da eliminare."
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Messaggio del risultato."
                    },
                    "id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "ID dei messaggi annullati."
                    }
                  }
                },
                "example": {
                  "message": "XXX messaggi annullati",
                  "id": ["ID_MESSAGGI_ANNULLATI"]
                }
              }
            }
          }
        }
      }
    },
    "/api/message/{id_messaggio}/status": {
      "get": {
        "summary": "Verifica Stato messaggio",
        "description": "Questa chiamata consente, a partire dall’ID Messaggio, di sapere lo stato del messaggio.",
        "parameters": [
          {
            "name": "id_messaggio",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'id del messaggio."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "L'ID del messaggio."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "FAILED",
                        "COMPLETED",
                        "PENDING",
                        "CANCELLED",
                        "RESCHEDULED",
                        "BLACKLISTED"
                      ],
                      "description": "Lo stato del messaggio."
                    }
                  }
                },
                "example": {
                  "id": "ID_MESSAGGIO",
                  "status": "COMPLETED"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/reschedule/all": {
      "post": {
        "summary": "Re-invio messaggi",
        "description": "Questa chiamata consente il re-invio di una serie di messaggi a partire dal loro ID.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista di ID dei messaggi da reinviare."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Data pianificata per il reinvio."
                  }
                },
                "required": [
                  "id",
                  "date"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Lista degli ID dei  messaggi reinviati."
                    }
                  }
                },
                "example": {
                  "id": [
                    "ID_MESSAGGIO_GENERATO"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/client/{id_client}/sessions": {
      "get": {
        "summary": "Richiama ID Sessione a partire da ID Client",
        "description": "Questa chiamata consente di ottenere la lista degli ID sessione associati a uno specifico client.",
        "parameters": [
          {
            "name": "id_client",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'ID del client di cui recuperare le sessioni."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Lista di ID sessione associati al client."
                    }
                  }
                },
                "example": {
                  "id": [
                    "ID_SESSIONE"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id_sessione}/status": {
      "get": {
        "summary": "Stato connessione sessione",
        "description": "Questa chiamata, a partire dall’ID sessione di uno specifico utilizzatore di Trilly, restituisce lo stato della connessione tra Trilly e il dispositivo WhatsApp ad esso afferente.",
        "parameters": [
          {
            "name": "id_sessione",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L'ID della sessione per la quale si vuole verificare lo stato di connessione."
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "Stato della connessione tra Trilly e il dispositivo associato alla sessione."
                    }
                  }
                },
                "example": {
                  "status": true
                }
              }
            }
          }
        }
      }
    },
    "/api/blacklist/check": {
      "get": {
        "summary": "Blacklist - Verifica",
        "description": "Controlla se un numero è presente in blacklist.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Il numero di telefono da verificare."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Numero di telefono esistente in blacklist",
                        "Numero di telefono non trovato in blacklist"
                      ],
                      "description": "Esito della verifica."
                    }
                  }
                },
                "examples": {
                  "Numero presente": {
                    "value": {
                      "message": "Numero di telefono esistente in blacklist"
                    }
                  },
                  "Numero assente": {
                    "value": {
                      "message": "Numero di telefono non trovato in blacklist"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/blacklist/add": {
      "post": {
        "summary": "Blacklist - Aggiunta",
        "description": "Aggiunge un numero di telefono alla blacklist, così che eventuali futuri invii disposti su uno specifico numero di telefono vengano bloccati.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Numero di telefono da aggiungere alla blacklist."
                  },
                  "soft_block": {
                    "type": "boolean",
                    "description": "Se `true`, il numero viene aggiunto in blacklist sono per gli invii massivi, permettendo quindi gli invii da sequenze."
                  }
                },
                "required": [
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/blacklist/remove": {
      "delete": {
        "summary": "Blacklist - Rimozione",
        "description": "Rimuove un numero di telefono dalla blacklist.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "L'ApiKey dell'utente."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Numero di telefono da rimuovere dalla blacklist."
                  }
                },
                "required": [
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Numero di telefono rimosso dalla blacklist",
                        "Numero di telefono non trovato in blacklist"
                      ],
                      "description": "Esito della rimozione."
                    }
                  }
                },
                "examples": {
                  "Numero rimosso": {
                    "value": {
                      "message": "Numero di telefono rimosso dalla blacklist"
                    }
                  },
                  "Numero non trovato": {
                    "value": {
                      "message": "Numero di telefono non trovato in blacklist"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/client/create": {
      "post": {
        "summary": "Generazione Nuovo Account Trilly da Partner",
        "description": "Questa chiamata consente ai partner di creare nuovi account cliente associati al proprio Account Partner. In seguito alla creazione, vengono generati e restituiti automaticamente API Key, ID Cliente e ID sessione; inoltre il cliente apparirà nella Dashboard Partner. <Note>Email e password, se non verranno forniti dal Partner ai singoli clienti per accesso individuale a Trilly (tipicamente in caso di White Label), potranno essere “di fantasia” (ma la email deve avere il formato con @).</Note> <Note>In caso di successo, verranno restituiti i dettagli del nuovo account cliente, inclusi l'ID cliente, l'ID sessione, e la nuova API Key.</Note>",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "API Key del Partner."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome dell'account cliente."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email associata all'account (deve rispettare il formato email)."
                  },
                  "password": {
                    "type": "string",
                    "description": "Password del cliente."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Numero di telefono associato al cliente."
                  },
                  "account_type": {
                    "type": "string",
                    "default": "full",
                    "enum": [
                      "test",
                      "baby",
                      "full"
                    ],
                    "description": "Tipologia dell'account.\n - `test` : 100 crediti e scadenza account dopo 14 giorni dalla creazione.\n - `baby` : 2000 crediti a refill annuale.\n - `full` : nessuna limitazione (account attuali)."
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password",
                  "phone"
                ]
              },
              "examples": {
                "Esempio": {
                  "value": {
                    "name": "Mario Rossi",
                    "email": "cliente@example.com",
                    "password": "passwordSicura!",
                    "phone": "3331122334",
                    "account_type": "full"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id_client": {
                      "type": "string",
                      "description": "ID del cliente."
                    },
                    "id_sessione": {
                      "type": "string",
                      "description": "ID della sessione."
                    },
                    "api_key": {
                      "type": "string",
                      "description": "API Key assegnata al nuovo account cliente."
                    },
                    "nome_account": {
                      "type": "string",
                      "description": "Nome dell'account cliente."
                    },
                    "telefono": {
                      "type": "string",
                      "description": "Numero di telefono associato."
                    },
                    "email_di_login": {
                      "type": "string",
                      "description": "Email usata per il login cliente."
                    },
                    "account_type": {
                      "type": "string",
                      "description": "Tipologia dell'account creato."
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "Data e ora chiamata (fuso orario UTC)."
                    }
                  }
                },
                "example": {
                  "id_client": "abc123def456",
                  "id_sessione": "sess789ghi012",
                  "api_key": "xyz-unique-apikey",
                  "nome_account": "Mario Rossi",
                  "telefono": "3331122334",
                  "email_di_login": "cliente@example.com",
                  "account_type": "full",
                  "timestamp": "2025-04-16T12:00:00Z"
                }
              }
            }
          }
        }
      }
    }
  }
}